<div class="container">
    <form name="ctrl.groceryform" class="form-horizontal form-editGrocery">
        <div class="form-group">
            <label class="control-label col-sm-2" for="barcode">Barcode</label>
            <div class="col-sm-6">
                <input type="number" ng-model="ctrl.grocery.upc12" class="form-control" id="barcode" name="barcode" placeholder="Enter 12 digits" required />
                <div class="validation" data-ng-show="ctrl.groceryform.barcode.$touched || ctrl.groceryform.$submitted">
                    <div data-ng-show="ctrl.groceryform.barcode.$error.required">
                        <span class="glyphicon glyphicon-alert"></span> Barcode is required
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="brand">Brand</label>
            <div class="col-sm-6">
                <input type="text" ng-model="ctrl.grocery.brand" class="form-control" id="brand" name="brand" required />
                <div class="validation" data-ng-show="ctrl.groceryform.brand.$touched || ctrl.groceryform.$submitted">
                    <div data-ng-show="ctrl.groceryform.brand.$error.required">
                        <span class="glyphicon glyphicon-alert"></span> Brand is required
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="productName">Product Name</label>
            <div class="col-sm-6">
                <input type="text" ng-model="ctrl.grocery.name" class="form-control" id="productName" name="productName" required />
                <div class="validation" data-ng-show="ctrl.groceryform.productName.$touched || ctrl.groceryform.$submitted">
                    <div data-ng-show="ctrl.groceryform.productName.$error.required">
                        <span class="glyphicon glyphicon-alert"></span> Product Name is required
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-6 col-md-offset-3">
                <button type="submit" class="btn btn-primary" ng-disabled="ctrl.groceryform.$invalid" ng-click="ctrl.saveGrocery()">Save</button>
            </div>
        </div>

    </form>
</div>