<!DOCTYPE html>
<html lang="en" ng-app="GroceryApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Grocery List</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="bower_components/angular-bootstrap/ui-bootstrap-csp.css"/>
    <link rel="stylesheet" href="css/main.css"/>
</head>
<body ng-cloak ng-controller="GroceryController as ctrl">
    <div class="container">
        <div>
            <h2>Grocery List</h2>
        </div>
        <div class="jumbotron">
            <form name="ctrl.searchForm" ng-submit="ctrl.searchGroceries()">
                <div class="input-group">
                <input type="text" name="keyword" id="keyword" class="form-control" ng-model="ctrl.searchKeyword" placeholder="Enter brand ..." />
                <span class="input-group-addon"><i class="fa fa-search"></i></span>
                    <div class="col-lg-6">
                        <select class="form-control" ng-model="ctrl.orderby">
                            <option value="" disabled selected>Sort by</option>
                            <option value="ASC">Ascending</option>
                            <option value="DESC">Descending</option>
                        </select>
                    </div>
                </div>
                <br>
                <hr>
                <div class="col-lg-6">
                    <button type="submit" class="btn btn-primary">Search</button>
                    <button type="button" ng-click="ctrl.addGrocery('lg')" class="btn btn-primary">Add</button>
                </div>
            </form>
        </div>
        <div class="list" ng-show="ctrl.groceries">
            <div class="row" ng-show="ctrl.groceries.length > 0">
                <div class="list header col-lg-12 col-md-12 col-sm-12">
                    <ul uib-pagination total-items="ctrl.totalItems" ng-model="ctrl.currentPage" items-per-page="ctrl.itemsPerPage" class="pagination-sm" max-size="ctrl.maxsize"  boundary-link-numbers="true" rotate="false" ng-change="ctrl.pageChanged()"></ul>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-md-4 col-lg-3" ng-repeat="grocery in ctrl.groceries">
                    <h4><label>Barcode: </label> {{grocery.upc12}}</h4>
                    <h4><label>Brand: </label> {{grocery.brand}}</h4>
                    <h4><label>Product Name: </label> {{grocery.name}}</h4>
                    <h4>
                        <button type="button" ng-click="ctrl.editGrocery(grocery.id, 'lg')" class="btn btn-success"><i class="fa fa-pencil" aria-hidden="true"></i></button>
                        <button type="button" ng-click="ctrl.deleteGrocery(grocery.id, 'lg')" class="btn btn-danger"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
                    </h4>
                </div>
            </div>
        </div>
    </div>
</body>

<script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
<script type="text/javascript" src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

<script type="text/javascript" src="bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
<script type="text/javascript" src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>

<script type="text/javascript" src="/app/app.module.js"></script>
<!-- <script type="text/javascript" src="/app/app.filter.js"></script> -->
<!-- <script type="text/javascript" src="/app/app.directive.js"></script> -->
<script type="text/javascript" src="/app/app.service.js"></script>
<script type="text/javascript" src="/app/app.controller.js"></script>

</html>









