.jumbotron {
    background-color: rgb(224, 224, 224)!important;
}

.form-editEmployee {
    width: -50%;
    padding: 80px;
    margin: 0 auto;
}

.validation {
    color: #d9534f 
}

.thumbnail p, .thumbnail h4 {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.input-group.input-group-unstyled input.form-control {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.input-group-unstyled .input-group-addon {
    border-radius: 4px;
    border: 0px;
    background-color: transparent;
}
